adapter_index = 0
aspect_ratio = -1
borderless_fullscreen = false
cull_distance_decal = 0
cull_distance_foliage = 0
cull_distance_tree = 1
development_settings = {
	category_print = null
	game_guid = null
	lobby_port = null
	music_disabled = null
	use_keyboard = null
}
fullscreen = true
fullscreen_output = 1
gui_vol = "0.1"
old_school_movement = false
popup_window = false
render_settings = {
	bloom_enabled = false
    brightness = 10
	bloodbath = false
	crt_post = false
	color_blindness_deuteranomaly = false
	color_blindness_deuteranopia = false
	color_blindness_monochromacy = false
	color_blindness_protanomaly = false
	color_blindness_protanopia = false
	color_blindness_tritanomaly = false
	color_blindness_tritanopia = false
	debug_rendering = false
	debug_render_voxels = false
	disable_soft_particles = true
	dof_enabled = false
	fog_of_war = false
	fog_of_war_1 = false
	fog_of_war_2 = false
	fog_of_war_3 = false
	fog_of_war_4 = false
	fxaa_enabled = false
	g_tessellation = 0
	g_tessellation_detail = 0
	g_tessellation_tri_size = 0
	gbuffer_albedo_luminance_visualization = false
	gbuffer_albedo_visualization = false
	gbuffer_fill_albedo = false
	gbuffer_ao_visualization = false
	gbuffer_rim_light_visualization = false
	gbuffer_self_illumination_visualization = false
	gbuffer_glossiness_visualization = false
	gbuffer_normal_visualization = false
	gbuffer_specular_visualization = false
	half_res_effects_enabled = false
	omni_shadow_near_range = 0
	light_accumulation_alpha_visualization = false
	light_accumulation_rgb_visualization = false
	local_lights_cast_shadows = false
	local_lights_enabled = false
	generate_cubemap = false
	lighting = false
	particles_cast_shadows = false
	particles_local_lighting = false
	particles_receive_shadows = false
	particles_tessellation = false
	shadow_map_cube_size = [
		0
		0
	]
	shadow_map_size = [
		0
		0
	]
	shadow_mapping_enabled = false
	spot_shadow_near_range = 0
	smaa_enabled = false
	ssao_enabled = false
    voxel_cone_tracing = false
	water_refraction_enabled = false
	water_shimmer_enabled = false
	twitch_1080p = false
	twitch_480p = false
	twitch_720p = false
}
screen_resolution = [
	1728
	1080
]
sound = {
	disabled = null
	environmental_volume = 0
	music_volume = 0
	sfx_volume = 0.6
	voice_volume = 0.4
}
vsync = false
